
header{
    padding:10px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid black;
}

form{
    width: 250px;
    height:30px;
    border-bottom:1px solid rgb(54, 52, 52);
    display: flex;
    align-items: center;
    overflow: hidden;
}

input{
    all:unset; /* resets the search box*/
    font: 16px system-ui;
    color: black;
    background-color: transparent;
    padding:0px 10px;
    flex: 1;
}

::placeholder{ /* Allows set the style of the placeholder text*/
    color:black;
    opacity: 0.7;
}

button{
    all:unset;
    cursor:pointer;
    width:44px;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

svg{
    color:black;
    fill:currentColor;
    width:24px;
    height: 24px;
}

nav{
    display: flex;
    gap:15px;
}

a{
    position: relative;
    cursor: pointer;
    font-size: 18px;
    padding: 0.5rem 1rem;
    color: black;
    transition: color 0.25s;
}

a:hover{
    color:palevioletred;
}

a::after {
    position:absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

a:hover::after{
    scale:1 1;
}

#Hero{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#Hero p{
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    line-height: 40px;
    align-content: space-between 10px;
}

.Quiz{
    background-color: #f3ede7;
    border: 2px solid #422800;
    border-radius: 15px;
    width: fit-content;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 
}
.Quiz:hover{
    background-color: #fff;
}
.Quiz:active{
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px,2px);
}
@media (min-width: 768px){
    .Quiz{
        min-width: 120px;
        padding: 0 25px;
    }
}